<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="log4j.skipJansi" value="false" />
	</Properties>
	<Appenders>
		<Console name="Console">
			<PatternLayout>
			<disableAnsi>false</disableAnsi>
				<Pattern>%highlight{[%-5level]}{STYLE=Logback} %t - %m%n</Pattern>
			</PatternLayout>
		</Console>
		<File name="File" fileName="target/logs/google-cloud-automation.log" append="false">
			<PatternLayout>
				<Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5p] %l %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>